<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>同乐教育</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,viewport-fit=cover">
    <!-- QQ分享详情 -->
    <!-- <meta data-hid="description" data-vue-meta="true" name="description" content="同乐教育投票同乐教育投票同乐教育同乐教育"> -->
    <!-- SEO -->
    <meta data-hid="keywords" data-vue-meta="true" name="keywords" content="同乐教育">
    <!-- QQ分享图片 -->
    <meta itemprop="image" property="og:image" content="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=783147948,2725973991&fm=173&app=25&f=JPEG?w=218&h=146&s=7B8628C07A4A5747509266590300C0DE">
    <!-- <meta name="msapplication-TileImage" content="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=783147948,2725973991&fm=173&app=25&f=JPEG?w=218&h=146&s=7B8628C07A4A5747509266590300C0DE"> -->
    <!-- QQ分享描述 -->
    <meta name="description" itemprop="description" property="og:description" content="同乐教育投票同乐教育投票同乐教育同乐教育">
 
  </head>
  <body>
    <div id="app">
      <!-- <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=783147948,2725973991&fm=173&app=25&f=JPEG?w=218&h=146&s=7B8628C07A4A5747509266590300C0DE" style="position:absolute; top:0; left:0;  width: 80%; z-index:-1;opacity: 0; "> -->
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
